# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Topics/Conditional statement/Chocolate/out/
/Topics/Conditional statement/Chocolate/out/production/classes/
/Topics/Conditional statement/Queens/out/
/Topics/Conditional statement/Queens/out/production/classes/
/Topics/Overview of the basic program/Theory/build/
/Topics/String/Replacing 'a' with 'b'/out/
/Topics/String/Replacing 'a' with 'b'/out/production/classes/
/Topics/The for-loop/Fizz Buzz/out/
/Topics/The for-loop/Fizz Buzz/out/production/classes/
/Topics/The for-loop/The product of numbers from a to b/out/
/Topics/The for-loop/The product of numbers from a to b/out/production/classes/
/Topics/The for-loop/The roots of an equation/out/
/Topics/The for-loop/The roots of an equation/out/production/classes/
/Topics/Types and variables/Assignments/out/
/Topics/Types and variables/Assignments/out/production/classes/